@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic);
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.3px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hypens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a, h1 a:visited, h1 a:active,
h2 a, h2 a:visited, h2 a:active,
h3 a, h3 a:visited, h3 a:active,
h4 a, h4 a:visited, h4 a:active,
h5 a, h5 a:visited, h5 a:active,
h5 a, h6 a:visited, h6 a:active {
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hypens: none;
  -o-hyphens: none;
  hyphens: none;
}
h1 {
  font-size: 2.0em;
  line-height: 2.3;
  font-weight: 600;
  color: green;

}
h2 {
  font-size: 1.6em;
  line-height: 2.10em;
  font-weight: 400;
  color: #9c9c9c;
}
h3 {
  font-size: 1.4em;
  line-height: 2;
  font-weight: 400

}
h4 {
  font-size: 1.2em;
  line-height: 1.8;
  font-weight: 400
}
h5 {
  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 400
}
h6 {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
}
article img {
  width: 100%;
  height: auto;
}
body > main > aside {
  font-size: 1.0em;

}
/* Footer 2014 Egmont Mika grey box */
body > main > footer {
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
  background-color: rgba(209, 206, 206, 1);
}
body > main > footer > p {
  text-align: center;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
/* */
body > main {
  max-width: 60em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* Footer after articles, links: zum Blogg mehr*/
body > main article > footer {
  text-align: right;
  margin-top: 0;
  margin-right: 1em;
}
body > main article > footer > p {
  margin: 0;
}
nav ul {
  list-style-type: none;
  padding-left: 0;

}
/* Main menu */
body > main > nav li a {
  color: #9c9c9c;
  font-size: 0.8em;
}
@media only screen and (min-width: 40em) {
  body > main > nav ul {
    display: block;
    float: right;
    list-style-type: none;
    margin-right: 1em;
  }
  body > main > nav li {
    width: 100%;
    text-align: right;
    display: inline;
    padding-left: 2em;

  }
  body > main > header {
    clear: both;
  }
}
