body > main > header {
  background-color: #3c3c3c;
  background-image: url(/img/bannerNormal.png);
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 8em;
  padding-top: 1.8em;
  margin-bottom: 3em;
}
body > main > header > h1 {
  font-size: 1.6em;
  line-height: 1.2;
  padding-top: 1em;
  padding-left: 3em;
  color: #9c9c9c;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}
body > main > aside h1 {
  font-size: 1.4em;
  line-height: 3;
  font-weight: 400;
}
body > main > aside > ul {
  padding-left: 0;
}
body > main > aside > ul > li{
  list-style-type: none;
  background-color: white;
  padding-bottom: 0.2em;
  text-align: left;
  font-size: 0.9em;

}
@media only screen and (max-width: 39.9em) {
  body > div > header > h1 {
    font-size: 1.2em;
    padding-top: 1.6em;
  }
}
@media only screen and (min-width: 40em) {
  body > main > section {
    float: left;
    width: 70%;
  }
  body > main > aside {
    float: right;
    width: 25%;

  }
  body > main > footer {
    clear: both;
  }
}
